*{outline: none !important;}
.h2-colect-title.v2 {
    text-align: right;
}
.h2-colect-title {
    font-size: 72px;
    margin-bottom: 15px;
}
.h2-colect-title {
    color: #fc2557; 
    font-size: 42px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.h2-colect-desc.v2 {
    text-align: right;
}
.h2-colect-desc {
    font-size: 30px;
    margin-bottom: 92px;
}
.h2-colect-desc {
    color: #acacac;
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 0.05em;
}


.collection-content.v2 .c-left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
}

.collection-item.align-right {
    float: right;
}


.colect-inner {
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 25px;
}

.product-info .product-title {
  margin-top: 15px;
    margin-bottom: 13px;
    line-height: 28px;
}

.collection-item .product-info {
    max-width: 230px;
}
.product-info.absolute-title {
    position: absolute;
    top: -92px;
}

.collection-item .product-info .product-title a {
    color: #111111;
    font-size: 20px;
}

.hover-images {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}

.hover-images:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.collection-item.align-left {
    margin-top: -92px;
}

.collection-item.align-right {
    float: right;
}
.collection-item {
    position: relative;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    transition: all ease-in-out .2s;
}


.shop_product figure{ height: 250px; }
.shop_product .wrapper h3{ font-size: 15px; }

.view-all-btn{
    position: relative;
    top: -15px;
    display: block;
    background: #fc2b5c;
    color: #fff;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    padding: 4px 0; 
    cursor: pointer;
    z-index: 99;
}

.view-all-btn:hover{background:#ec194a; color: #fff;  }


.div-left{ float: left; }
.div-right{ float: right; }

.size-list li {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    position: relative;
    margin-right:12px;
}

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
    z-index: 999;
    width: 18px;
    height: 18px;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    transition: all 300ms linear;
}

.size-list li label {
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    line-height: 23px;
    cursor: pointer;
    height: 30px;
    font-size: 14px;
    color: gray;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms linear;
    position: absolute;
    left: 0;
    top: 0;
}

.size-list li:hover label {color:#fd8b85 ; border: 2px solid #fd8b85;}





.multi-range input[type=range] {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width:100%;
  margin: 0;
  padding: 0 2px;
  /* Add some L/R padding to ensure box shadow of handle is shown */
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(#ff2b2b, #feac9f) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none;
}
.multi-range input[type=range]:active,
.multi-range input[type=range]:focus {
  outline: none;
}
.multi-range input[type=range]::-webkit-slider-thumb {
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background-color: #fff;
  position: relative;
  margin: 5px 0;
  /* Add some margin to ensure box shadow is shown */
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}
.multi-range input[type=range]::-webkit-slider-thumb::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}
.multi-range {
  position: relative;
  height: 50px;
  display:block;
}
.multi-range input[type=range] {
  position: absolute;
}
.multi-range input[type=range]:nth-child(1)::-webkit-slider-thumb::before {
  background-color: red;
}
.multi-range input[type=range]:nth-child(2) {
  background: none;
}
.multi-range input[type=range]:nth-child(2)::-webkit-slider-thumb::before {
  background-color: grey;
}



  
.form-wrapper .option-wrapper {
  margin-bottom: 10px ;
}
.form-wrapper input[type="checkbox"] {
  display: none;
}
.form-wrapper input[type="checkbox"] + label {
  display: inline;
  position: relative;
}
.form-wrapper input[type="checkbox"] + label::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  content: ' ';
  border: 2px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
  z-index: 10;
}
.form-wrapper input[type="checkbox"]:checked + label::before {
  border: 2px solid #fd4570;
}
.form-wrapper input[type="checkbox"]:checked + label::after {
    width: 6px;
    height: 16px;
    border: 2px solid #fc2557;
    border-left: none;
    border-top: none;
    content: ' ';
    position: absolute;
    left: 9px;
    bottom: 2px;
    transform: rotatez(45deg);
    cursor: pointer;
    z-index: 20;
}
 
 .product-price{ color: #00d225; font-size: 28px; margin-top:5px; margin-bottom: 5px; }
    
  
  .buy-now-btn button {
    background: #fc2557;
    color: #fff;
    border: 0;
    height: 41px;
    min-width: 130px;
    text-align: center;
    margin-right: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px 0px #ddd;
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
}
.buy-now-btn button:hover{ background: #f11145;}


  


@media only screen and (max-width: 480px){

.div-left{ float: none; }
.div-right{ float: none; }


.view-all-btn{margin:auto; margin-bottom: 20px; }
.h2-colect-title{ text-align: center; }
.h2-colect-desc{ text-align: center; }

.hero_in .wrapper p{font-size: 17px;}
    .collection-item img {
    margin: 0 auto;
}
.collection-item {
    text-align: center;
}

.product-info .product-title {
    margin-top: 5px;
    margin-bottom: 5px;
}
.colect-inner {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

.product-info.absolute-title{ position: relative; top: 0; }
.collection-item .product-info{ margin: auto; margin-bottom: 20px; }
.h2-colect-title.v2{ text-align: center; }
.h2-colect-desc.v2{text-align: center;}
.collection-item.align-left{ margin-top: 0 }
.collection-item.align-right{ float: none; }


}